/*Projet Booki
  Ecran entre 768 et 992 px de largeur*/


#body-c
{
  width: 100%;
}

/*Main*/
main
{
  width: 95%;
  margin: 0 auto;
}

#research
{
  margin:45px 5% 0 5% ;
}

/*Partie filtres*/
#c-filters
{
 flex-direction: column;
}


/*Changements sur la partie hébergements*/

#Hébergements
{
  flex-direction: column-reverse;
  height: 1300px;
}

.hotels
{
 
  flex-basis: 48%;
  
}

/*changements sur la partie Aside*/

aside
{

  flex-basis: 48%;

}


/*Activités réagencement*/

.c-cards-column
{
  flex-direction: column;
}

.cards-section
{
  width: 100%;
  margin-bottom: 40px;
}


/*Footer*/

.footer-c
{
  width: 86%;
}