/* Booki
   768px <width< 992 px*/


#body-c {
  width: 100%;
}

/*Main*/
main {
  width: 95%;
  margin: 0 auto;
}

#research {
  margin: 45px 5% 0 5%;
}

/*Filters section*/
#c-filters {
  flex-direction: column;
}

#c-bars
{
  flex-wrap: wrap;
}


/*Lodging article*/

#lodging {
  flex-direction: column-reverse;
  height: 1300px;
}

.hotels {

  flex-basis: 48%;

}

/* Aside section*/

aside {

  flex-basis: 48%;

} 

aside .title
{
  padding-top: 0;
}


/*Activities*/

.c-cards-column {
  flex-direction: column;
}

.cards-section {
  width: 100%;
  margin-bottom: 40px;
}


/*Footer*/

.footer-c {
  justify-content: space-between;
}



.about,.charter
{
  margin-right: 0;
}