#blocpage
{
  width: 100%;
  margin: 0 auto;

}


/*Main*/

.ma_glass
 {
display: none;
 }

/*Partie filtres*/
#filters
{
  display: flex;
  flex-direction: column;
}

#fbars
{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}