/*Projet Booki
  Ecran entre 768 et 992 px de largeur*/


#body-c {
  width: 100%;
}

/*Main*/
main {
  width: 95%;
  margin: 0 auto;
}

#research {
  margin: 45px 5% 0 5%;
}

/*Filters section*/
#c-filters {
  flex-direction: column;
}


/*Lodging article*/

#lodging {
  flex-direction: column-reverse;
  height: 1300px;
}

.hotels {

  flex-basis: 48%;

}

/* Aside section*/

aside {

  flex-basis: 48%;

}


/*Activities*/

.c-cards-column {
  flex-direction: column;
}

.cards-section {
  width: 100%;
  margin-bottom: 40px;
}


/*Footer*/

.footer-c {
  width: 86%;
}