/*Projet Booki
  Ecran entre 768 et 992 px de largeur*/


#body-c
{
  width: 100%;
}

/*Main*/
main
{
  margin: 0;
}

#research
{
  margin:45px 5% 0 5% ;
}

/*Partie filtres*/
#c-filters
{
 flex-direction: column;
}


/*Changements sur la partie hébergements*/

#Hébergements
{
  flex-direction: column-reverse;
  width: 95%;
  margin: 0 auto;
  height: 1300px;

  
}



.hotels
{
 
  flex-basis: 48%;
  
}

/*changements sur la partie Aside*/

aside
{

  flex-basis: 48%;

}

