#blocpage
{
  width: 100%;
  margin: 0 auto;

}


/*Main*/

/*Partie filtres*/
#C_filters
{
  display: flex;
  flex-direction: column;
}

#f_bars
{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}