/*Booki
 width < 768px */

/*Header*/

header {
  flex-direction: column;
  align-items: center;
  font-size: 17px;
}


/*booki's position*/

#booki
  {
  margin-top: 30px;
  margin-bottom: 35px;
  margin-right: 20px;

}

nav

/*nav */
  {
  width: 100%;
}

nav a {
  justify-content: center;
  display: flex;
  width: 50%;
  text-align: center;
  border-bottom: solid 2px #F2F2F2;
  border-top: none;
  padding-top: 0;
  padding-bottom: 15px;
}

nav a:hover {
  border-bottom: solid 2px #0065FC;
  border-top: none;
}

/*Main*/

h1, h2
{
  font-size:24px;
}

main
{
  margin-top: 35px;
  width: 100%;
}

/*research article */ 



#research {
  padding-left: 0;
  margin: 0 auto;
  width: 90%;
}

#searchbar {
  display: flex;
  margin-top: 35px;
  border: #F2F2F2 solid 1px;
  border-radius: 16px;
  width: 334px;
  margin-left: 0;
  margin-bottom: 0;
}

#location {
  width: auto;
}

#button {
  display: none;
}

#ma-glass {
  display: block;
  border: #0065FC;
  background-color: #0065FC;
  border-radius: 16px;
  width: 52px;
  height: 52px;
  color: white;
  position: absolute;
  left: 326px;
  align-self: center;
  padding-left: 15px;
}


/*filters*/

#c-fiters {
  width: 100%;
 }

form .title {
  margin-top: 0px;
}

#c-info {
  margin-left: 0;
}



/*lodging*/

#lodging {
  width: 100%;
  height: fit-content;
}

.hotels {
  flex-basis: 1530px;
  flex-direction: column;
  border-radius: 0;
  background-color: white;
  padding-top: 30px;
}

.hotels-c {
  height: 1490px;
  width: 90%;
  background-color: white;
  border-radius: 0;
  
}

.c-cards-row
{
  height: 1390px ;
  justify-content: space-around;
}


.hotels .cards-row {
  flex-direction: column;
  flex-basis: 49%;

}


.xs-card {
  flex-basis: 220px;
}

.xs-photo .photo {
  height: 125px;
}

.hotels .description
{
  height: 80px;
  padding-top: 5px;
}

#lodging .name
{
  margin: 0px 0px 9px 0;
  line-height: 17px;
}

.price {
  margin: 0;
  font-size: 15px;
}

#more
{
  font-size: 20px;
}



/*aside*/

aside {
  flex-basis: 640px;
  border-radius: 0;
  padding-top: 0;
}

.popular-c {
  width: 90%;
  justify-content: space-between;
  height: 88%;
  margin: 0 auto;
}

aside .name
{
  margin-bottom:10px ;
  font-size: 18px;
}

aside .description
{
  flex-basis: 61%;
  justify-content: space-between;
  padding: 15px 6px 10px 15px;  
}

.popular-c .cards-row {
  flex-basis: 505px;
  
}

.s-card {
  flex-basis: 158px;

}

.s-photo
{
  flex-basis: 39%;
}

.s-photo .photo
{
  width: 100%;
}



/*Activities*/ 
#activities
{
   height: 1540px;
}

.activities-c {
   padding-top: 55px;
  width: 90%;
  margin: 0px auto 0 auto ;
  height: auto;
}

.c-cards-column {
  flex-direction: column;
  justify-content: space-around;
  height: 1400px;
}

.cards-section {
  flex-direction: column;
  flex-basis: 50%;
  justify-content: space-around;
  margin-bottom: 0
}

.cc1 {
  flex-basis: 30%;
  width: 100%;
}

.cc2,
.cc2r {
  flex-basis: 66%;
  width: 100%;
  justify-content: space-around;
}

.l-card,
.m-car {
  flex-basis: 45%;
}

#activities .photo {
  height: 146px;
}

#activities .description
{
  font-size: 17px;
  height: 60px;
}


/*footer*/

footer {
  height: 540px;
  justify-content: space-around;
}

.footer-c {
  width: 100%;
  flex-direction: column;
  height: 430px;
  
  margin-left: 35px;
}

footer ul
{
  font-size: 17px;
}


h3
{
  font-size:20px ;
}