/*Header*/

header 
{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  font-size: 14px;
  font-weight: 500;  
}

#booki /*Positionnement et dimensions du logo Booki*/
{
    width: 105px;
    height: 50px;
    margin-top: 30px;
    margin-bottom: 45px;

}

nav/*Positionnement du nav avec la mise en place du hover*/
{
  display: flex;
  flex-direction: row;
  width: 100%;
}



nav a
{
  color:black;
  text-decoration: none;
  justify-content: center    ;
  display: flex;
  width: 50%;
  text-align: center;
  border-bottom: solid 4px #F2F2F2 ;
  border-top: none;
  padding-top: 0;
  padding-bottom: 20px ;
}

nav a:hover
{
  color:#0065FC;
  border-bottom: solid 4px #0065FC;
  border-top: none;
}

/*Main*/

/*Barre de recherche */

#searchbar
 {
  display: flex;
  flex-direction: row;
  margin-top: 35px;
  border: #F2F2F2 solid 1px;
  border-radius: 16px;
  width: 334px;
  height: 53px;
  overflow: hidden;
 }

 #location
 {
  font-weight: 700;
  font-size: 16px;
  border: #F2F2F2;
  padding-left: 20px;
  width: auto;
 }

#button
 {
display: none;
 }

 #ma_glass
 {
  display: block;
  border: #0065FC;
  background-color: #0065FC;
  border-radius: 16px;
  width: 52px;
  height: 52px;
  color: white;
  position: absolute ;
  left: 326px;
  align-self: center;
  }


/*changements hébergements*/
#Hébergements
{
  width: 100%;
  height: fit-content;
}

.hotels
{
  flex-basis: 1550px;
  flex-direction: column;
  border-radius: 0;
  background-color: white;
}

.cont_card
{
  height:95% ;
  width: 90%;
  background-color: white;
  border-radius: 0;

}

.hotels .box-row
{
  flex-direction: column;
  flex-basis: 46%;
  
}


.s_card
{
 flex-basis: 32%;
}

.c_scpic .photo
{
  height: 125px;
}



/*changements dans aside*/

aside
{
flex-basis: 640px;
border-radius: 0;
}

.c_aside
{
  width: 90%;
  height: 85%;
  justify-content: space-between;
}

.c_aside .box-row
{
  flex-basis: 89%;
  
}

.m_card
{
  flex-basis: 32%;
  
}

