/*Booki
 width < 768px */

/*Header*/

header {
  flex-direction: column;
  align-items: center;
  font-size: 17px;
}


/*booki's position*/

#booki
  {
  margin-top: 30px;
  margin-bottom: 35px;
  margin-right: 20px;

}

nav

/*nav */
  {
  width: 100%;
}

nav a {
  justify-content: center;
  display: flex;
  width: 50%;
  text-align: center;
  border-bottom: solid 2px #F2F2F2;
  border-top: none;
  padding-top: 0;
  padding-bottom: 15px;
}

nav a:hover {
  border-bottom: solid 2px #0065FC;
  border-top: none;
}

/*Main*/
main
{
  margin-top: 35px;
}

/*research article */

#research {
  padding-left: 0;
  margin: 0 auto;
  width: 90%;
}

#searchbar {
  display: flex;
  margin-top: 35px;
  border: #F2F2F2 solid 1px;
  border-radius: 16px;
  width: 334px;
  margin-left: 0;
  margin-bottom: 0;
}

#location {
  width: auto;
}

#button {
  display: none;
}

#ma-glass {
  display: block;
  border: #0065FC;
  background-color: #0065FC;
  border-radius: 16px;
  width: 52px;
  height: 52px;
  color: white;
  position: absolute;
  left: 326px;
  align-self: center;
  padding-left: 15px;
}


/*filters*/
#c-fiters {
  width: 100%;
 }

form .title {
  margin-top: 0px;
}


/*lodging*/
#lodging {
  width: 100%;
  height: fit-content;
}

.hotels {
  flex-basis: 1550px;
  flex-direction: column;
  border-radius: 0;
  background-color: white;
}

.hotels-c {
  height: 95%;
  width: 90%;
  background-color: white;
  border-radius: 0;

}

.hotels .cards-row {
  flex-direction: column;
  flex-basis: 46%;

}


.xs-card {
  flex-basis: 32%;
}

.xs-photo .photo {
  height: 125px;
}



/*aside*/

aside {
  flex-basis: 640px;
  border-radius: 0;
}

.popular-c {
  width: 90%;
  height: 85%;
  justify-content: space-between;
}

.popular-c .cards-row {
  flex-basis: 89%;

}

.s-card {
  flex-basis: 32%;

}


/*Activities*/

.activities-c {
  padding-top: 25px;
  width: 90%;
  margin: 0 auto;
}

.c-cards-column {
  flex-direction: column;
  justify-content: space-around;
  height: 1400px;
}

.cards-section {
  flex-direction: column;
  flex-basis: 50%;
  justify-content: space-around;
  margin-bottom: 0
}

.cc1 {
  flex-basis: 30%;
  width: 100%;
}

.cc2,
.cc2r {
  flex-basis: 66%;
  width: 100%;
  justify-content: space-around;
}

.l-card,
.m-car {
  flex-basis: 45%;
}

#activities .photo {
  height: 150px;
}


/*footer*/

footer {
  height: 540px;
}

.footer-c {
  width: 100%;
  flex-direction: column;
  height: 78%;
  margin-top: 8%;
  margin-left: 8%;
}