/*Header*/

header 
{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  font-size: 14px;
  font-weight: 500;  
}

#booki /*Positionnement et dimensions du logo Booki*/
{
    width: 105px;
    height: 50px;
    margin-top: 30px;
    margin-bottom: 45px;

}

nav/*Positionnement du nav avec la mise en place du hover*/
{
  display: flex;
  flex-direction: row;
  width: 100%;
}



nav a
{
  color:black;
  text-decoration: none;
  justify-content: center    ;
  display: flex;
  width: 50%;
  text-align: center;
  border-bottom: solid 4px #F2F2F2 ;
  border-top: none;
  padding-top: 0;
  padding-bottom: 20px ;
}

nav a:hover
{
  color:#0065FC;
  border-bottom: solid 4px #0065FC;
  border-top: none;
}

/*Main*/

/*Barre de recherche */

#searchbar
 {
  display: flex;
  flex-direction: row;
  margin-top: 35px;
  border: #F2F2F2 solid 1px;
  border-radius: 16px;
  width: 334px;
  height: 53px;
  overflow: hidden;
 }

 #location
 {
  font-weight: 700;
  font-size: 16px;
  border: #F2F2F2;
  padding-left: 20px;
  width: auto;
 }

#button
 {
display: none;
 }

 #ma_glass
 {
  display: block;
  border: #0065FC;
  background-color: #0065FC;
  border-radius: 16px;
  width: 52px;
  height: 52px;
  color: white;
  position: absolute ;
  left: 326px;
  align-self: center;
  }

/*Partie filtres*/
#c_filters
{
 max-width: 100%;
}

#fbars
{
 display: flex;
 flex-direction: row;
}

/*Mise en place de checkboxs pour les filtres*/

.filter
{
 position: absolute;
 opacity: 0;
 cursor: pointer;
 height: 40px;
 width: 90%;
}

 .f_choice:hover
{
 background: #0065FC;
 color: white;
}



