.box {
    box-sizing: border-box; /* Opera/IE 8+ */
    /* box-sizing est appliqué seulement à cette classe */
  }
  
  * {
    box-sizing: border-box;
    /* box-sizing est appliqué à tous les éléments */
  }

/*Mise en forme */
body
{
    font-family: 'Raleway', sans-serif;
    color: black;
}
  p
  {
    font-weight: 400;
    font-size: 15px;
  }
  
  #c_page
  {
    max-width: 1440px;
    margin: 0 auto;

  }





/*Header*/

header 
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    font-size: 14px;
    font-weight: 500;  
}


#booki /*Positionnement et dimensions du logo Booki*/
{
    width: 100px;
    height: 50px;
    margin-top: 40px;
    margin-left: 60px;
}

nav/*Positionnement du nav avec la mise en place du hover*/
 {
    display: flex;
    flex-direction: row;
  }

 

 nav a
 {
    color:black;
    text-decoration: none;
    justify-content: center    ;
    display: flex;
    padding-top: 50px;
    width: 160px;
    text-align: center;
    border-top:2px solid transparent ;
 }

 nav a:hover
 {
    color:#0065FC;
    border-top: solid 2px #0065FC;
 }

 /*Main*/
main
{
  margin:45px ;
}
 h1,h2
 {
  margin: 0;
  font-size: 20px;
  font-weight: 700;
 }

/*Barre de recherche */

#searchbar
 {
  display: inline-flex;
  flex-direction: row;
  margin-top: 20px;
  border: #F2F2F2 solid 1px;
  border-radius: 12px;
  height: 53px;
  overflow: hidden;
 }

#l-dot
 {
  width: 55px;
  height: 55px;
  background-color: #F2F2F2;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 5px;
 }

 #location
 {
  font-weight: 700;
  font-size: 16px;
  border: #F2F2F2;
  padding-left: 20px;
  width: 225px;
 }

 #button
 {
  font-weight: 700;
  font-size: 16px;
  border: #0065FC;
  color: white;
  background-color: #0065FC;
  width: 135px;
  }

 #ma_glass
 {
display: none;
 }


 /*Partie filtres*/
 #c_filters
 {
  
  display: flex;
  flex-direction: row;
  margin-top: 30px;
  }

 #c_bars
 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
 }

 .title
 {
  font-size:16px ;
  font-weight: 700;
  margin-right: 30px;
 }

.f_choice
 {
  display: flex;
  position: relative;
  flex-direction: row;
  font-size:16px ;
  font-weight: 700;
  margin-right: 25px;
  margin-bottom:15px ;
  border:#F2F2F2 3px solid;
  border-radius: 30px;
  height: 48px;
  align-items: center;
  padding-right: 20px;
  border-left: none;
  }

.icon
{
  margin-right: 15px;
  padding: 16px;
  border-radius: 50%;
}


 /*Mise en place de checkboxs pour les filtres*/

 .filter
 {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 40px;
  width: 90%;
 }

  .f_choice:hover
 {
  background: #0065FC;
  color: white;
 }



 /*Agrandissement et mise en transparence de la checkbox tout en ajoutant un effet pour signifier que la case est cochée*/

 .filter:checked ~ .icon
 {
  background-color:#0065FC  ;
  color:white;
 }

 .filter:not(checked) ~ .icon
 {
  background-color:#DEEBFF ;
  color: #0065FC;
 }

 
 /*icone et phrase d'info*/
#c_info
{
 display: flex;
 flex-direction: row;
 align-items: center;
 margin: 10px 0 30px 0px;
}

#info
{
 display: inline-flex;
 margin-right: 14px;
 color: #0065FC;
 background-color:white ;
 border-radius: 50%;
 border: 1px solid #F2F2F2 ;
 width: 23px;
 height:23px;
}

#c_info .fa-solid
{
 margin: auto;
 font-size: 13px;

}



/*Article sur les hébergements*/




#Hébergements
{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  
  }


  /*Section Hébergements à Marseille */

.hotels
{
  display: flex;
  flex-basis: 65%;
  background-color: #F2F2F2;
  border-radius: 20px;
  justify-content: space-around;
  align-items: center;
  height: 625px;
  
}

.cont_card
{
  width: 90%;
  height: 86%;
  display: flex;
  flex-direction: column;
  background-color: inherit;
  justify-content: space-between;
  margin-top: 0;
}  

.hotels .box-row
{
  display: flex;
  flex-direction: row;
  justify-content: space-between;

}

.s_card
{
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  height: 190px ;
  flex-basis: 30%;
  background-color: white;
  justify-content: space-between;
  border: 1px solid #F2F2F2;
  position: relative;
  padding: 5px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  }

.c_scpic
{
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.s_card .description
{
  display:flex;
  flex-direction: column;
  justify-content: space-around;
  height: 37%;
  padding-left: 5%;
}

.c_scpic .photo
{
  object-fit: cover;
  height: 113px;
}

.nameandprice
{
 line-height: 20px;
}

.name
{
  margin: 0;
  font-size: 15px;
  font-weight: 700;
  line-height: 16px;
}

.price
{
  margin: 0;

}

/*Notation de la catégorie hébergement*/

.boxh1 .fa-solid:nth-child(-n+4)
{
  color: #0065FC;
}
.boxh1 .fa-solid:nth-child(5)
{
  color: #F2F2F2;
}

.boxh2 .fa-solid:nth-child(-n+5)
{
  color: #0065FC;
}

.boxh3 .fa-solid:nth-child(-n+4)
{
  color: #0065FC;
}
.boxh3 .fa-solid:nth-child(5)
{
  color: #F2F2F2;
}

.boxh4 .fa-solid:nth-child(-n+3)
{
  color: #0065FC;
}
.boxh4 .fa-solid:nth-child(4),.boxh4 .fa-solid:nth-child(5)
{
  color: #F2F2F2;
}

.boxh5 .fa-solid:nth-child(-n+4)
{
  color: #0065FC;
}
.boxh5 .fa-solid:nth-child(5)
{
  color: #F2F2F2;
}

.boxh6 .fa-solid:nth-child(-n+5)
{
  color: #0065FC;
}



/*Mise en place des liens*/

#more
{
  color: black;
  text-decoration: none;
  font-size:16px ;
  font-weight: 700;
}

.c_link
{
  position: absolute;
  left: 0;
  top: 0;
  width: 98%;
  height: 100%;
}



/*Aside populaire*/

aside
{
  display: flex;
  flex-direction: column;
  flex-basis: 30%;
  background-color: #F2F2F2;
  border-radius: 20px;
  justify-content: space-around;
  align-items: center;
  height: 625px;
}

.c_aside
{
 width: 80%;
 height: 90%;
 display: flex;
 flex-direction: column;
 justify-content: space-between;
 position: relative;
 
}

aside .title
{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.title .fa-solid
{
  position: absolute;
  right: 0px;

}

.c_aside .box-row
{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-basis: 87%;
}

.m_card
{
  display: flex;
  border-radius: 20px;
  height: 145px ;
  width: 100%;
  background-color: white;
  border: 1px solid #F2F2F2;
  position: relative;
  padding: 5px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  }

  .c_mcpic
  {
  display: inline-flex;
  flex-direction: row;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  overflow: hidden;

  }
  
  .c_mcpic .photo
  {
    object-fit: cover;
    width: 126px;
  }

  .m_card .description
{
  display:flex;
  flex-direction: column;
  justify-content: space-around;
  padding-left: 5%;
}





  /*Notation du top populaire */
.boxh7 .fa-solid:nth-child(-n+5)
  {
    color: #0065FC;
  }


.boxh8 .fa-solid:nth-child(-n+4)
  {
  color: #0065FC;
  }
.boxh8 .fa-solid:nth-child(5)
{
  color: #F2F2F2;
}

.boxh9 .fa-solid:nth-child(-n+4)
{
  color: #0065FC;
}
.boxh9 .fa-solid:nth-child(5)
{
  color: #F2F2F2;
}



/*Article Activités*/

#Activités
{
  display: flex;
  flex-direction: column;
}

.c_activities
{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin:0 auto ;
  width: 100%;
}

.c_columnbox
{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.box-column
{
 display: flex;
  justify-content: space-between;
  flex-basis: 22%;
  height: 80%;
  background-color: red;
}

.x1
{
 
 
}

.l .c_apic
{
  background-color: blue;
  height: 445px;
  
}





