.box {
  box-sizing: border-box;
  /* Opera/IE 8+ */
  /* box-sizing est appliqué seulement à cette classe */
}

* {
  box-sizing: border-box;
  /* box-sizing est appliqué à tous les éléments */
}

/*CSS Projet Booki
    width >992px */

/*Base */
body {
  font-family: "Raleway", sans-serif;
  color: black;
}

p {
  font-weight: 400;
}

#body-c {
  max-width: 1440px;
  margin: 0 auto;
}

a {
  color: #000000;
  text-decoration: none;
}

h1,
h2 {
  margin: 0;
  font-size: 23px;
  font-weight: 700;
}

/*a hover effect */
 a:hover
 {
  color: #0065fc;
 }

/*Header*/

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  font-size: 15px;
  font-weight: 500;
}

#booki

/*booki's logo set up*/
  {
  width: 100px;
  height: 50px;
  margin-top: 40px;
  margin-left: 60px;
}

/*nav set up*/
nav
{
  display: flex;
  flex-direction: row;
}

nav a {
  padding-top: 50px;
  width: 160px;
  text-align: center;
  border-top: 2px solid transparent;
}

/* a:hover moving correction*/
nav a:hover {
  border-top: solid 2px #0065fc;
}

/*Main*/

main {
  margin: 30px auto 45px auto;
  width: 93%;
}

/*searchbar */
#research {
  padding-left: 5px;
}

.subhead{
  margin-top: 9px;
  margin-bottom: 0;
}

#searchbar {
  display: inline-flex;
  flex-direction: row;
  margin-top: 20px;
  border: #f2f2f2 solid 1px;
  border-radius: 12px;
  height: 53px;
  overflow: hidden;
  margin-left: 0;
  margin-bottom: 5px;
}

/*fonts */
#searchbar input 
{  
  font-weight: 700;
  font-size: 18px;
}

/*dot map icon */
.l-dot
{
  width: 55px;
  height: 55px;
  background-color: #f2f2f2;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 5px;
  padding-left: 15px;
}

#location

/*search bar*/
  {
  border: #f2f2f2;
  padding-left: 20px;
  width: 235px;
}

#button

/*search button*/
  {
  border: #0065fc;
  color: white;
  background-color: #0065fc;
  width: 135px;
}

/*magnifying glass button*/
#ma-glass {
  display: none;
}

/*filters part*/

#c-filters {
  display: flex;
  flex-direction: row;
  margin-top: 25px;
  width: 98%;
  margin-left: auto;
  margin-right: auto;
}

form .title,
#c-bars {
  font-size: 19px;
  font-weight: 700;
}

form .title {
  margin-right: 30px;
}


/*filters container */
#c-bars
  {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.filter-value {
  display: flex;
  position: relative;
  flex-direction: row;
  margin-right: 25px;
  margin-bottom: 15px;
  border: #D9D9D9 2px solid;
  border-radius: 30px;
  height: 48px;
  align-items: center;
  padding-right: 20px;
  border-left: none;
}

form .fa-solid {
  margin-right: 15px;
  border-radius: 50%;
  font-size: 20px;
}

.fa-money-bill-wave,.fa-heart,.fa-dog
{
  padding: 16px;
}

.fa-child-reaching
{
  padding: 25px 18px 25px 18px;
}

/*checkbox set up*/

.filter {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 40px;
  width: 90%;
}

.filter-value:hover {
  background: #0065fc;
  color: white;
}

/*checkboxes checked-effect  set up */

#economic:checked~.fa-money-bill-wave {
  background-color: #0065fc;
  color: white;
}

#economic:not(:checked)~.fa-money-bill-wave {
  background-color: #deebff;
  color: #0065fc;
}

#family:checked~.fa-child-reaching {
  background-color: #0065fc;
  color: white;
}

#family:not(:checked)~.fa-child-reaching {
  background-color: #deebff;
  color: #0065fc;
}


#romantic:checked~.fa-heart {
  background-color: #0065fc;
  color: white;
}

#romantic:not(:checked)~.fa-heart {
  background-color: #deebff;
  color: #0065fc;
}


#animals:checked~.fa-dog {
  background-color: #0065fc;
  color: white;
}

#animals:not(:checked)~.fa-dog {
  background-color: #deebff;
  color: #0065fc;
}

/*information section*/
#c-info {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 10px 0 25px 7px;
 
}

#info-c {
  display: inline-flex;
  margin-right: 14px;
  color: #0065fc;
  background-color: white;
  border-radius: 50%;
  border: 1px solid #d9d9d9;
  width: 23px;
  height: 23px;
  padding-bottom: 2px;
}

#c-info .fa-solid {
  margin: auto;
  font-size: 12px;
}

/*lodging article*/

#lodging {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

/*hotels section*/

.cards-row {
  display: flex;
  justify-content: space-between;
}

.hotels {
  display: flex;
  flex-basis: 65%;
  background-color: #f2f2f2;
  border-radius: 20px;
  justify-content: space-around;
  align-items: center;
  height: 625px;
}

.hotels-c {
  width: 90%;
  height: 86%;
  display: flex;
  flex-direction: column;
  background-color: inherit;
  justify-content: space-between;
  margin-top: 0;
}

.hotels .cards-row {
  flex-direction: row;
}

.card {
  /*cards set up*/
  display: flex;
  background-color: white;
  border: 1px solid #f2f2f2;
  position: relative;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 20px;
}

.c-photo {
  display: inline-flex;
  overflow: hidden;
}

.description {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding-left: 5%;
}



.inline-bold {
  font-weight: bold;
}

.photo {
  object-fit: cover;
}

.xs-card {
  flex-direction: column;
  height: 190px;
  flex-basis: 30%;
  padding: 5px;
}

.xs-photo {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  flex-direction: column;
}

.xs-card .description {
  height: 37%;
}

.xs-photo .photo {
  height: 113px;
}

.name {
  font-weight: 700;
  line-height: 14px;
}

#lodging .name
{
  margin: 5px 8px 6px 0;
  font-size: 14px;
}

.price {
  margin: 0;
  font-size: 13px;
}

/*lodging rating*/

.hotel-card1 .fa-solid:nth-child(-n + 4) {
  color: #0065fc;
}

.hotel-card1 .fa-solid:nth-child(5) {
  color: #d9d9d9;
}

.hotel-card2 .fa-solid:nth-child(-n + 5) {
  color: #0065fc;
}

.hotel-card3 .fa-solid:nth-child(-n + 4) {
  color: #0065fc;
}

.hotel-card3 .fa-solid:nth-child(5) {
  color: #d9d9d9;
}

.hotel-card4 .fa-solid:nth-child(-n + 3) {
  color: #0065fc;
}

.hotel-card4 .fa-solid:nth-child(4),
.hotel-card4 .fa-solid:nth-child(5) {
  color: #d9d9d9;
}

.hotel-card5 .fa-solid:nth-child(-n + 4) {
  color: #0065fc;
}

.hotel-card5 .fa-solid:nth-child(5) {
  color: #d9d9d9;
}

.hotel-card6 .fa-solid:nth-child(-n + 5) {
  color: #0065fc;
}

/*link set up*/

#more {
  display:inline-flex;
  font-size: 16px;
  font-weight: 700;
  padding-left: 3px;
  
}

.card-link {
  position: absolute;
  left: 0;
  top: 0;
  width: 98%;
  height: 100%;
}

/*Aside popular*/

aside {
  display: flex;
  flex-direction: column;
  flex-basis: 30%;
  background-color: #f2f2f2;
  border-radius: 20px;
  justify-content: space-around;
  align-items: center;
  height: 625px;
}

.popular-c {
  width: 80%;
  height: 90%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
}

aside .title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-top: 10px;
}

/*title star position*/
.title .fa-solid
  {
  position: absolute;
  right: 0px;
}

/*top 3 */
.popular-c .cards-row
{
  flex-direction: column;
  flex-basis: 87%;
}

.s-card {
  height: 145px;
  padding: 5px;
}

.s-photo {
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  flex-direction: row;
}

.s-photo .photo {
  width: 126px;
}

aside .description 
{
  padding-right: 8px;
}

/*Notation du top populaire */
.hotel-card7 .fa-solid:nth-child(-n+5)

/*card 1 top 3*/
  {
  color: #0065fc;
}

.hotel-card8 .fa-solid:nth-child(-n+4)

/*card 2 top 3*/
  {
  color: #0065fc;
}

.hotel-card8 .fa-solid:nth-child(5) {
  color: #d9d9d9;
}

.hotel-card9 .fa-solid:nth-child(-n+4)

/*card 3 top 3*/
  {
  color: #0065fc;
}

.hotel-card9 .fa-solid:nth-child(5) {
  color: #d9d9d9;
}

/*hover effect*/

.card-link:hover~.description
{
   color: #0065fc;
}

/*Activities article*/

.activities-c {
  padding-top: 55px;
  padding-bottom: 10px;
}

#activities h2 {
  margin-bottom: 25px;
}

.c-cards-column {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.cards-section {
  display: flex;
  flex-direction: row;
  width: 48%;
  justify-content: space-between;
}

.cards-column

/*column set up  */
  {
  display: flex;
  justify-content: space-between;
  height: 450px;
  width: 46%;
}

.cc1,
.cc2 {
  flex-direction: column;
}



/*activities card*/
#activities .card {
  flex-direction: column;
}

.xl-card {
  flex-basis: 100%;
}

.lc1 {
  flex-basis: 53%;
}

.mc1 {
  flex-basis: 37%;
}

.lc2
{
  flex-basis: 47% ;
}

.mc2
{
  flex-basis:44% ;
}

#activities .c-photo {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  flex-direction: column;
}

.xl-photo .photo {
  height: 390px;
}

.l-photo .photo {
  height: 180px;
}

.m-photo .photo {
  height: 110px;
}

.l2-photo .photo {
  height: 152px;
}

.m2-photo .photo {
  height: 140px;
}


.cc2 .description {
  height: 55px;
}

.cc1 .description
{
  height:60px
}

.mobile-photo
{
  display: none;
}


/*Footer*/

footer {
  background-color: #f2f2f2;
  height: 220px;
  display: flex;
  align-items: center;
}

.footer-c {
  display: flex;
  width: 71%;
  height: 55%;
  margin-left: 3%;
  justify-content: space-between;
  margin-bottom: 45px;
}

.c-footer-links {
  display: flex;
  flex-direction: column;
}

footer ul {
  padding-left: 0;
  list-style-type: none;
  font-size: 16px;
  height: 80%;
  margin-top: 0;
  line-height: 28px;
}

h3 {
  font-weight: 700;
  font-size: 18px;
}