.box {
  box-sizing: border-box;
  /* Opera/IE 8+ */
  /* box-sizing est appliqué seulement à cette classe */
}

* {
  box-sizing: border-box;
  /* box-sizing est appliqué à tous les éléments */
}

/*CSS Projet Booki
    taille d'écran >992px */

/*Base */
body {
  font-family: "Raleway", sans-serif;
  color: black;
}

p {
  font-weight: 400;
}

#body-c {
  max-width: 1440px;
  margin: 0 auto;
}

a {
  color: #000000;
  text-decoration: none;
}

h1,
h2 {
  margin: 0;
  font-size: 20px;
  font-weight: 700;
}

/*Header*/

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  font-size: 14px;
  font-weight: 500;
}

#booki

/*booki's logo set up*/
  {
  width: 100px;
  height: 50px;
  margin-top: 40px;
  margin-left: 60px;
}

nav

/*nav set up*/
  {
  display: flex;
  flex-direction: row;
}

nav a {
  padding-top: 50px;
  width: 160px;
  text-align: center;
  border-top: 2px solid transparent;
  /* a:hover correction*/
}

nav a:hover {
  color: #0065fc;
  border-top: solid 2px #0065fc;
}

/*Main*/

main {
  margin: 45px;
}

/*Barre de recherche */
#research {
  padding-left: 5px;
}

#searchbar {
  display: inline-flex;
  flex-direction: row;
  margin-top: 20px;
  border: #f2f2f2 solid 1px;
  border-radius: 12px;
  height: 53px;
  overflow: hidden;
  margin-left: 5px;
}

#searchbar input

/*fonts */
  {
  font-weight: 700;
  font-size: 16px;
}

#l-dot

/*dot map icon */
  {
  width: 55px;
  height: 55px;
  background-color: #f2f2f2;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 5px;
}

#location

/*search bar*/
  {
  border: #f2f2f2;
  padding-left: 20px;
  width: 225px;
}

#button

/*search button*/
  {
  border: #0065fc;
  color: white;
  background-color: #0065fc;
  width: 135px;
}

/*magnifying glass button*/
#ma_glass {
  display: none;
}

/*filters part*/

#c-filters {
  display: flex;
  flex-direction: row;
  margin-top: 30px;
  margin-left: 5px;
}

form .title,
#c-bars {
  font-size: 17px;
  font-weight: 700;
}

form .title {
  margin-right: 30px;
}

#c-bars

/*filters contenair */
  {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.filter_value {
  display: flex;
  position: relative;
  flex-direction: row;

  margin-right: 25px;
  margin-bottom: 15px;
  border: #f2f2f2 3px solid;
  border-radius: 30px;
  height: 48px;
  align-items: center;
  padding-right: 20px;
  border-left: none;
}

.filter_icon {
  margin-right: 15px;
  padding: 16px;
  border-radius: 50%;
}

/*checkbox set up*/

.filter {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 40px;
  width: 90%;
}

.filter_value:hover {
  background: #0065fc;
  color: white;
}

/*checkboxes checked-effect  set up */

.filter:checked~.filter_icon {
  background-color: #0065fc;
  color: white;
}

.filter:not(checked)~.filter_icon {
  background-color: #deebff;
  color: #0065fc;
}

/*information section*/
#c-info {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 10px 0 30px 3px;
  font-size: 15px;
}

#info-c {
  display: inline-flex;
  margin-right: 14px;
  color: #0065fc;
  background-color: white;
  border-radius: 50%;
  border: 1px solid #f2f2f2;
  width: 23px;
  height: 23px;
}

#c-info .fa-solid {
  margin: auto;
  font-size: 13px;
}

/*lodging article*/

#lodging {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

/*hotels section*/

.cards-row {
  display: flex;
  justify-content: space-between;
}

.hotels {
  display: flex;
  flex-basis: 65%;
  background-color: #f2f2f2;
  border-radius: 20px;
  justify-content: space-around;
  align-items: center;
  height: 625px;
}

.hotels-c {
  width: 90%;
  height: 86%;
  display: flex;
  flex-direction: column;
  background-color: inherit;
  justify-content: space-between;
  margin-top: 0;
}

.hotels .cards-row {
  flex-direction: row;
}

.card {
  /*cards set up*/
  display: flex;
  background-color: white;
  border: 1px solid #f2f2f2;
  position: relative;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 20px;
}

.c-photo {
  display: inline-flex;
  overflow: hidden;
}

.description {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding-left: 5%;
}

.inline_bold {
  font-weight: bold;
}

.photo {
  object-fit: cover;
}

.xs_card {
  flex-direction: column;
  height: 190px;
  flex-basis: 30%;
  padding: 5px;
}

.xs_photo {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  flex-direction: column;
}

.xs_card .description {
  height: 37%;
}

.xs_photo .photo {
  height: 113px;
}

.name {
  margin: 2px 0 6px 0;
  font-size: 15px;
  font-weight: 700;
  line-height: 14px;
}

.price {
  margin: 0;
  font-size: 13px;
}

/*lodging rating*/

.hotel_card1 .fa-solid:nth-child(-n + 4) {
  color: #0065fc;
}

.hotel_card1 .fa-solid:nth-child(5) {
  color: #f2f2f2;
}

.hotel_card2 .fa-solid:nth-child(-n + 5) {
  color: #0065fc;
}

.hotel_card3 .fa-solid:nth-child(-n + 4) {
  color: #0065fc;
}

.hotel_card3 .fa-solid:nth-child(5) {
  color: #f2f2f2;
}

.hotel_card4 .fa-solid:nth-child(-n + 3) {
  color: #0065fc;
}

.hotel_card4 .fa-solid:nth-child(4),
.hotel_card4 .fa-solid:nth-child(5) {
  color: #f2f2f2;
}

.hotel_card5 .fa-solid:nth-child(-n + 4) {
  color: #0065fc;
}

.hotel_card5 .fa-solid:nth-child(5) {
  color: #f2f2f2;
}

.hotel_card6 .fa-solid:nth-child(-n + 5) {
  color: #0065fc;
}

/*link set up*/

#more {
  font-size: 16px;
  font-weight: 700;
}

.card_link {
  position: absolute;
  left: 0;
  top: 0;
  width: 98%;
  height: 100%;
}

/*Aside popular*/

aside {
  display: flex;
  flex-direction: column;
  flex-basis: 30%;
  background-color: #f2f2f2;
  border-radius: 20px;
  justify-content: space-around;
  align-items: center;
  height: 625px;
}

.popular-c {
  width: 80%;
  height: 90%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
}

aside .title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.title .fa-solid

/*title star position*/
  {
  position: absolute;
  right: 0px;
}

.popular-c .cards-row

/*top 3 */
  {
  flex-direction: column;
  flex-basis: 87%;
}

.s_card {
  height: 145px;
  padding: 5px;
}

.s_photo {
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  flex-direction: row;
}

.s_photo .photo {
  width: 126px;
}

/*Notation du top populaire */
.hotel_card7 .fa-solid:nth-child(-n+5)

/*card 1 top 3*/
  {
  color: #0065fc;
}

.hotel_card8 .fa-solid:nth-child(-n+4)

/*card 2 top 3*/
  {
  color: #0065fc;
}

.hotel_card8 .fa-solid:nth-child(5) {
  color: #f2f2f2;
}

.hotel_card9 .fa-solid:nth-child(-n+4)

/*card 3 top 3*/
  {
  color: #0065fc;
}

.hotel_card9 .fa-solid:nth-child(5) {
  color: #f2f2f2;
}

/*Activities article*/

.activities-c {
  padding-top: 65px;
  padding-bottom: 20px;
}

#activities h2 {
  padding-left: 3%;
  margin-bottom: 25px;
}

.c-cards-column {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.cards-section {
  display: flex;
  flex-direction: row;
  width: 48%;
  justify-content: space-between;
}

.cards-column

/*column set up  */
  {
  display: flex;
  justify-content: space-between;
  height: 450px;
  width: 46%;
}

.cc1,
.cc2 {
  flex-direction: column;
}

.cc2r {
  flex-direction: column-reverse;
}

/*activities card*/
#activities .card {
  flex-direction: column;
}

.xl_card {
  flex-basis: 100%;
}

.l_card {
  flex-basis: 53%;
}

.m_card {
  flex-basis: 37%;
}

#activities .c-photo {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  flex-direction: column;
}

.xl_photo .photo {
  height: 390px;
}

.l_photo .photo {
  height: 180px;
}

.m_photo .photo {
  height: 110px;
}

#activities .description {
  height: 55px;
}

/*Footer*/

footer {
  background-color: #f2f2f2;
  height: 220px;
  display: flex;
  align-items: center;
}

.footer-c {
  display: flex;
  width: 71%;
  height: 55%;
  margin-left: 3%;
  justify-content: space-between;
  margin-bottom: 50px;
}

.c-footer_links {
  display: flex;
  flex-direction: column;
}

footer ul {
  padding-left: 0;
  list-style-type: none;
  font-size: 16px;
  height: 80%;
  margin-top: 0;
  line-height: 28px;
}

h3 {
  font-weight: 700;
  font-size: 18px;
}