.box {
    box-sizing: border-box; /* Opera/IE 8+ */
    /* box-sizing est appliqué seulement à cette classe */
  }
  
  * {
    box-sizing: border-box;
    /* box-sizing est appliqué à tous les éléments */
  }

/*Mise en forme */
body
{
    font-family: 'Raleway', sans-serif;
    color: black;
}
  p
  {
    font-weight: 400;
    font-size: 15px;
  }
  
  #c_page
  {
    max-width: 1440px;
    margin: 0 auto;

  }





/*Header*/

header 
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    font-size: 14px;
    font-weight: 500;  
}


#booki /*Positionnement et dimensions du logo Booki*/
{
    width: 100px;
    height: 50px;
    margin-top: 40px;
    margin-left: 60px;
}

nav/*Positionnement du nav avec la mise en place du hover*/
 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

 

 nav a
 {
    color:black;
    text-decoration: none;
    justify-content: center    ;
    display: flex;
    padding-top: 50px;
    width: 160px;
    text-align: center;
    border-top:2px solid transparent ;
 }

 nav a:hover
 {
    color:#0065FC;
    border-top: solid 2px #0065FC;
 }

 /*Main*/
main
{
  margin:45px ;
}
 h1
 {
  font-size: 20px;
  font-weight: 700;
 }


 #searchbar
 {
  display: inline-flex;
  flex-direction: row;
  margin-top: 20px;
  border: #F2F2F2 solid 1px;
  border-radius: 12px;
  height: 53px;
  overflow: hidden;
 }

 #l-dot
 {
  width: 55px;
  height: 55px;
  background-color: #F2F2F2;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 5px;
 }

 #location
 {
  font-weight: 700;
  font-size: 16px;
  border: #F2F2F2;
  padding-left: 20px;
  width: 225px;
 }

 #button
 {
  font-weight: 700;
  font-size: 16px;
  border: #0065FC;
  color: white;
  background-color: #0065FC;
  width: 135px;
  }

 #ma_glass
 {
display: none;
 }


 /*Partie filtres*/
 #C_filters
 {
  
  display: flex;
  flex-direction: row;
  margin-top: 30px;
  }

 #f_bars
 {
  display: flex;
  flex-direction: row;
 }

 #C_filters p
 {
  font-size:16px ;
  font-weight: 700;
  margin-right: 30px;
 }

.filter
 {
  display: flex;
  flex-direction: row;
  font-size:16px ;
  font-weight: 700;
  text-transform: capitalize;
  margin-right: 25px;
  margin-bottom:15px ;
  border:#F2F2F2 2px solid;
  border-radius: 30px;
  height: 48px;
  align-items: center;
  padding-right: 20px;
  position: relative;
  border-left: transparent;
  }

 .f_link
{
  
  height: 46px;
  padding-top: 12px;
  position: absolute;
  width: 92%;
  top: 0;
  left: 0;
}

.f_icon
{
  margin-right: 15px;
  padding: 16px;
  border-radius: 50%;
  background-color: #deebff ;
  color: #0065FC;
}

.filter:hover
{
  background-color: #0065FC;
  color: white;
  
}

.filter:hover ~ .f_icon
{  
  color: white;
  background-color: #0065FC;
}

 
 /*icone et phrase d'info*/
#c_info
{
 display: flex;
 flex-direction: row;
 align-items: center;
 margin: 20px 0 40px 0px;
}

#info
{
 display: inline-flex;
 margin-right: 14px;
 color: #0065FC;
 background-color:white ;
 border-radius: 50%;
 border: 1px solid #F2F2F2 ;
 width: 23px;
 height:23px;
}

#info .fa-solid
{
 margin: auto;
 font-size: 13px;

}
